<p><%= t "notifications_mailer.shared.hello", user_name: @recipient.profile.full_name %>,</p>

<% body = t('.body.you_won_a_challenge') %>
<% if @notification.get_meta_data(:event) -%>
  <% body += " #{t('.body.by')}" %>
  <% body += " #{t(".body.events.#{@notification.get_meta_data(:event)}")}" %>
<% end %>
<% body += '.' %>

<p class="">
  <%= body %>
</p>
