<section class="heading b-b">
  <div class="row no-gutter">
    <div class="col-xs-2 col-sm-2 col-md-1">
      <section class="heading-btn">
        <a href="#" ng-click="backPrevLocation($event)"><i class="fa fa-long-arrow-left "></i></a>
      </section>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 b-l">
      <section class="heading-title">
        <h1 translate>{{ 'page_title' }}</h1>
      </section>
    </div>

  </div>
</section>

<section class="m-lg">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th style="width:20%" translate>{{ 'trigger_title' }}</th>
            <th style="width:25%" translate>{{ 'associated_object' }}</th>
            <th style="width:10%" translate>{{ 'active' }}</th>
            <th style="width:15%" translate>{{ 'medal_id' }}</th>
            <th style="width:25%"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="challenge in challenges">
            <td>
              {{ "challenge_keys."+challenge.key | translate }}
            </td>
            <td class="">{{ challenge.training.name || '-' }}</td>
            <td class="">
              <input bs-switch
                     ng-model="challenge.active"
                     id=""
                     type="checkbox"
                     class="form-control"
                     switch-on-text="{{ 'yes' | translate }}"
                     switch-off-text="{{ 'no' | translate }}"
                     switch-animate="true"/>
            </td>
            <td>
              <input type="text" ng-model="challenge.medal_id" value="">
            </td>
            <td>
              <div class="buttons">
                <button class="btn btn-warning" ng-click="save($index)">
                  {{ 'save' | translate }}
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
